1. INSTALL NEOVIM (Arch)
sudo pacman -S neovim

1. BUILD NEOVIM FROM SOURCE (Ubuntu/Debian)
a) Install Build Prereqs
sudo apt-get install git ninja-build gettext cmake unzip curl build-essential

b) Build
git clone https://github.com/neovim/neovim
cd neovim
make CMAKE_BUILD_TYPE=RelWithDebInfo
sudo make install


2. INSTALL PLUGIN PREREQS
Arch: sudo pacman -S ripgrep fd make cmake gcc fzf unzip wget
Debian/Ubuntu: sudo apt-get install ripgrep fd-find unzip wget


3. CREATE LINK
ln -s ~/.config/nvim_minimal ~/.config/nvim

4. CONFIG
a) Completion
Enable/disable in plugins.lua, enable/disable crates in init.lua

b) LSP Languages
Arch: sudo pacman -S npm python python-pip rust pkgconf dotnet-runtime dotnet-sdk go ruby
Debian/Ubuntu: sudo apt-get install npm python3-pip dotnet-sdk-9.0 dotnet-runtime-9.0 golang ruby-full pipx
               curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
               pipx install cmake-language-server
Enable/disable in lsp/mason.lua

c) Formatting
sudo npm install -g @fsouza/prettierd
Arch: sudo pacman -S python-black clang shfmt sqlfluff stylua yamlfmt
      yay -S asmfmt google-java-format
Debian/Ubuntu: sudo apt-get install black clang shfmt sqlfluff clang-format libxml2-utils
               cargo install stylua
               sudo snap install yamlfmt
Enable/disable in conform.lua

d) Syntax Highlighting
Enable/disable in treesitter.lua

e) Colourscheme
Enable/disable in plugins.lua
