1. INSTALL NEOVIM (Arch)
sudo pacman -S neovim

1. BUILD NEOVIM FROM SOURCE (Ubuntu/Debian)
a) Install Build Prereqs
sudo apt-get install git ninja-build gettext cmake unzip curl build-essential

b) Build
git clone https://github.com/neovim/neovim
cd neovim
make CMAKE_BUILD_TYPE=RelWithDebInfo
sudo make install


2. INSTALL PLUGIN PREREQS
Arch: sudo pacman -S ripgrep fd make cmake gcc fzf unzip wget
Debian/Ubuntu: sudo apt-get install ripgrep fd-find unzip wget


3. CREATE LINK
ln -s ~/.config/nvim_minimal ~/.config/nvim

4. CONFIG
a) Completion
Enable/disable in plugins.lua, enable/disable crates in init.lua

b) LSP Languages
Arch: sudo pacman -S npm python rust pkgconf dotnet-runtime dotnet-sdk go ruby
Debian/Ubuntu: sudo apt-get install npm
Enable/disable in lsp/mason.lua

c) Formatting
sudo npm install -g @fsouza/prettierd
Arch: sudo pacman -S python-black clang shfmt sqlfluff stylua yamlfmt
      yay -S asmfmt google-java-format
Enable/disable in conform.lua

d) Syntax Highlighting
Enable/disable in treesitter.lua

e) Colourscheme
Enable/disable in plugins.lua
